.post {
  display: flex;
  align-items: flex-start;
  padding-bottom: 10px;

  border-bottom: 1px solid var(--twitter-background);
}

.post_body {
  padding: 10px;

  flex: 1;
}
.post_body > img {
  border-radius: 20px;
}
.post_badge {
  font-size: 14px !important;
  color: var(--twitter-color);
}
.post_userName {
  font-weight: 600;
  font-size: 12px;
  margin-left: 5px;
  color: gray;
}
.post_avatar {
  padding: 20px;
}
.post_footer {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}
.post_headerDescription {
  margin-bottom: 10px;

  font-size: 15px;
}

.post_headerText > h3 {
  font-size: 15px;
  margin-bottom: 5px;
}
.post_body::-webkit-scrollbar {
  display: none;
}

@media screen and (max-width: 768px) {
  .post_body > img {
    transition: width 0.5s ease-in;
    width: 300px;
    object-fit: contain;
  }
  .post_body {
    overflow: scroll;
  }
}
